* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


a,
li {
    text-decoration: none;
    list-style: none;
}



.students {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.classes {
    display: none;
}

.classAndStudents {
    display: none;
}

.form {
    display: none;
    max-width: 400px;
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 25px;

    input,
    select,
    button {
        padding-inline: 5px;
        padding-block: 5px;
    }

    button {
        cursor: pointer;
        border: none;
        background-color: antiquewhite;
        padding-block: 10px;
        border-radius: 10px;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
    padding: 8px;
    padding-inline: 18px;
}


.students-list-one {
    background-color: rgb(234, 215, 95);
}


.students-list-two {
    background-color: #e7eec1;
}

.container {
    max-width: 700px;
    padding-inline: 24px;
    margin-top: 50px;
    margin-inline: auto;
}

.container-left {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
    justify-content: center;

    a {
        padding: 20px 25px;
        background-color: rgb(239, 239, 190);
        margin-top: 25px;
        border-radius: 5px;
        font-size: 20px;
        text-transform: uppercase;
        box-shadow: 10px 10px 10px rgb(216, 175, 127);

    }
}

.classAndStudents {
    padding: 20px;
    width: 400px;
    background-color: #e7eec1;
    justify-content: space-between;
    border-radius: 15px;
}

.classes-list-two {
    width: 400px;
    margin-inline: auto;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(242, 217, 183);
    margin-top: 10px;
    border-radius: 10px;

    a {
        margin-left: 25px;
    }


}

.students-form {
    margin-top: 10px;
    width: 100%
}

.statusList {
    display: none;
}